/* Estilo global para el contenedor */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f5f5dc; /* Beige color */
  }
  
  /* Contenedor principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%; /* Ocupa toda la pantalla */
  }
  
  /* Estilo para la sección de búsqueda */
  .search {
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center; /* Centra la búsqueda */
  }
  
  .search label {
    font-family: Verdana, sans-serif;
    font-weight: bold;
  }
  
  .search input {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
  }
  
  /* Estilo para la tabla */
  table {
    width: 100%;
    max-width: 800px; /* Máximo ancho de la tabla */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }
  
  /* Estilo para las celdas de la tabla */
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
  }
  
  /* Fila de encabezado */
  th {
    background-color: #ADD8E6;
    color: black;
    font-weight: bold;
  }
  
  /* Estilo para el input de cargar archivo */
  input[type="file"] {
    padding: 5px;
    font-family: Verdana, sans-serif;
  }