<div class="container">
    <h2>ESTADO DE LAS PROPUESTAS</h2>
    
    <!-- Sección de búsqueda-->
    <div class="search">
      <label for="cedula">Búsqueda:</label>
      <input type="text" id="cedula" placeholder="Ingrese el número de cédula">
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Cédula</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Cargar Archivo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>0958591620</td> 
          <td>Corregir ortografía</td>
          <td>Pendiente</td>
          <td><input type="file"></td>
        </tr>
        <tr>
          <td>2</td>
          <td>0574168543</td> 
          <td>Ajustar formato</td>
          <td>Completado</td>
          <td><input type="file"></td>
        </tr>
        <tr>
          <td>3</td>
          <td>0975841698</td> 
          <td>Revisar datos</td>
          <td>En proceso</td>
          <td><input type="file"></td>
        </tr>
      </tbody>
    </table>
  </div>