nav a:hover {
    color: white; /* Cambia solo el color del texto al pasar el cursor */
    background-color: transparent; /* Asegura que el fondo no cambie */
}

.bg-body-tertiary {
    background-color: #8fe0ee!important; 
}

a{
    font-family:Arial;
    font-weight: bold;
    font-size:large;
}
.navbar-nav {
    flex: 1;
}
.navbar-nav .nav-item{
    margin-left: 20px;
    text-transform: uppercase;
}
.navbar-nav .nav-item:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item:last-child img {
    margin-left: 8px; /* Ajusta el margen según sea necesario */
    width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Ajusta el radio de borde según sea necesario */
}